# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
publish-to-pypi.sh

# Virtual environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Unit test / coverage reports
.pytest_cache/
.tox/
.coverage
.cache

# Editors
.vscode/
.idea/

